{% extends 'base.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/converter/app.js"></script>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>FileConverter</h1>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputFile" class="col-sm-4 control-label">Choose input file</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" id="inputFile" placeholder="Choose input file">
                        </div>
                    </div>
                    <div class="text-danger text-center" id="errors"></div>
                    <div class="hide" id="convertSubmitBlock">
                        <div class="form-group">
                            <label for="outputFormat" class="col-sm-4 control-label">Output format</label>
                            <div class="col-sm-8">
                                <select id="outputFormat" class="form-control">
                                    <option selected="selected" disabled="disabled">Choose output format</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="button" class="btn btn-success" id="submit">Convert</button>
                                <a href="" class="btn btn-primary hide" id="downloadBtn">Download</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div class="pull-right">Binary Studio &copy;</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

